.container {
  margin: 0;
}

.previewImage {
  display: none;
  visibility: hidden;
  position: absolute;
}

.navbar {
  margin-left: 0;
  z-index: 10;
  background-color: #f8fafc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-margin {
  margin-left: 15%;
}

.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #2f353a;
}

.content {
  margin-left: 0;
  clear: both;
  top: 50px;
  position: relative;
}

.content-margin {
  margin-left: 15%;
}

ul li a {
  display: block;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
 }

 ul li a:hover {
  background-color:#20a8d8;
  color: aqua;
 }

 .active {
    background-color: dimgray;
 }

.pageNotFound {
  margin-top: 6rem;
  text-align: center;
}

.pageNotFound .first-title {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0;
}

.pageNotFound .second-title {
  font-size: 15px;
  letter-spacing: 2px;
  text-shadow: 0.5px 0 0 currentColor;
}
